* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f8;
  color: 222;
}

.header {
  width: 100%;
  text-align: center;
  height: 140px;
  background: radial-gradient(#0a99af, #057586);
  color: #fff;
  padding-top: 25px;
  /* line-height: 20px; */
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-bottom: 0;
}

.header h1 {
  letter-spacing: 10px;
  font-size: 3rem;
  margin-bottom: 5px;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book h1 {
  margin-top: 0.5rem;
}

h4 {
  color: #617d98;
  letter-spacing: 3px;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
